.buttons-icon-ctr {
    height: 1.125em;
    width: auto;
    vertical-align: middle;
}

.buttons-text-ctr {
    vertical-align: middle;
}

.buttons-text-ctr,
.buttons-icon-ctr {
    display: inline-block;
}