#background-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

#page-header {
  padding-top: 17vh;
  text-align: center;
}

#star-wars-app {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  width: 100%;
}

#star-wars-logo {
  width: 27rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  opacity: 1;
}

.search-active #page-header {
  animation: hideLogo 1s ease 0s 1 normal forwards;
  overflow: hidden;
  opacity: 0;
}

@keyframes hideLogo {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
  }

  50% {
    animation-timing-function: ease-in;
    opacity: 0;
    max-height: 500px;
    padding-top: 17vh;
  }

  51% {
    animation-timing-function: ease-in;
    display: none;
  }

  100% {
    animation-timing-function: ease-out;
    max-height: 0px;
    padding-top: 0vh;
  }
}

.search-wrap {
  margin-top: 10vh;
  text-align: center;
}

.search-title {
  text-align: center;
}

.searchbox-form {
  border: 2px solid var(--palette-03);
  border-radius: var(--border-radius-5);
  display: inline-flex;
  vertical-align: top;
  flex-direction: row;
}

.searchbox-form .searchbox-input {
  border: none;
  flex: 1 1 auto;
}

.searchbox-search-icon {
  width: 1.125rem;
  display: inline;
  vertical-align: middle;
}

.searchbox-search-btn-text {
  vertical-align: middle;
}
